#app,
h1, h2, h3, h4, h5, h6,
ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 將監聽事件 標示為被動 會報錯 */
* {
  touch-action: none;
  /* touch-action: pan-y; */
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,sans-serif;
}

body {
  height: 100vh;
}

label,
label > span {
  font-weight: 600;
}

a {
  text-decoration: none;
}

a, div, nav, main, label, span {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dedede;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #dadada80;
  transition-duration: 0.3s;
  border-radius: 10px;
}
