$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$gird-gap: 16px;

.grid-row {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: $gird-gap;

  & > * {
    grid-column-start: span 24;
  }
}

@each $size, $value in $grid-breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through 24 {
      .grid-col-#{$size}-#{$i} {
        grid-column-start: span $i
      }
    }
  }
}